        <div class="logeo">
            <form method="post">
                <div class="centrarElementosHorizontal">
                    <h1 class="mensajesGrandes">Iniciar Sesión</h1>
                    <h6 class="mensajesPequeños3">Hola! Bienvenido de nuevo, te hemos extrañado</h6>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><h2 class="mensajesNormales">Código / Correo</h2></label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <!--<div class="mensajesPequeños1"><p >We'll never share your email with anyone else.</p></div>-->
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"><h2 class="mensajesNormales">Contraseña</h2></label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                    <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1"><p class="mensajesPequeños2">Recordamelo</p></label>
                </div>
                <div class="search-container">
                    <div class="colorElementos">
                        <a href="credit.html" style="text-decoration: none;">
                            <button class="search-button" type="button" onclick="guardar()" style="width: 100%;">Ingresar</button>
                        </a>
                    </div>
                </div> 
            </form>
        </div>