<div class="login-container">
  <div class="login-card animate-fade">
    <div class="login-header">
      <h1 class="login-title">Iniciar Sesión</h1>
      <p class="login-subtitle">¡Bienvenido de nuevo!</p>
    </div>

    <form (submit)="login($event)">
      <div class="form-group">
        <label for="codigo" class="form-label">Código</label>
        <input type="text" id="codigo" class="form-input"
          placeholder="Ingresa tu código de asociado"
          [(ngModel)]="codigo"
          name="codigo"
          required
        />
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="password"
          class="form-input"
          placeholder="Ingresa tu contraseña"
          [(ngModel)]="password"
          name="password"
          required
          [ngClass]="{ 'input-error': loginFallido }"
        />

        <!-- Mensaje de error debajo -->
        <div *ngIf="loginFallido" class="error-message animate-shake">
          {{ mensajeError }}
        </div>
      </div>

      

      <div class="form-remember">
        <input type="checkbox" id="remember" />
        <label for="remember">Recordarme</label>
      </div>

      <button
        type="submit"
        class="btn-login"
        [disabled]="isLoading"
      >
        <span *ngIf="!isLoading">Ingresar</span>
        <span *ngIf="isLoading" class="spinner"></span>
      </button>
    </form>

    <p class="login-footer">© 2024 Real Club de Lima. Todos los derechos reservados.</p>
  </div>
</div>

<dialog id="errorModal" class="modal">
  <h3>❌ Error</h3>
  <p>{{ mensajeError }}</p>
  <button (click)="cerrarModal()">Cerrar</button>
</dialog>
