    <div>
    
      <div class="container mt-5">
          <div class="row justify-content-center">
              <div class="col-md-6">
                  <div class=" text-center">
                      <div class="">
                          <h2 style="font-weight: bold;">Felicitaciones</h2>
                      </div>
                      <div class="card-body">
                          <h5 class="card-title"></h5>
                          <p class="card-text" style="font-weight: bold; color: #35599A;">Se ha realizado correctamente la reserva.</p>
                          <p>&nbsp;</p>
                          <svg width="100" height="100" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M44 22.16V24C43.9975 28.3128 42.601 32.5093 40.0187 35.9636C37.4363 39.4179 33.8066 41.9449 29.6707 43.1678C25.5349 44.3906 21.1145 44.2438 17.0689 42.7491C13.0234 41.2545 9.56931 38.4922 7.22192 34.8741C4.87453 31.256 3.75958 26.9761 4.04335 22.6726C4.32712 18.3691 5.99441 14.2726 8.79656 10.9941C11.5987 7.71561 15.3856 5.43074 19.5924 4.48026C23.7992 3.52979 28.2005 3.96465 32.14 5.71997M44 7.99997L24 28.02L18 22.02" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
    
    </div>
    
    
