<div class="detalle-tarjeta" *ngIf="reserva">
  <div class="detalle-encabezado" [ngClass]="reserva.estado">
    <img [src]="reserva.imagenurl || 'assets/img/default.jpg'" alt="Imagen del ambiente" class="detalle-imagen">
    <h2 class="detalle-titulo">{{ reserva.nombre_ambiente }}</h2>
    <span class="detalle-estado">{{ reserva.estado | titlecase }}</span>
  </div>

  <div class="detalle-contenido">
    <p><i class="fa fa-calendar"></i> <strong>Fecha: </strong> {{ reserva.fecha }}</p>
    <p><i class="fa fa-clock"></i> <strong>Horario: </strong> {{ reserva.hora_inicio }} – {{ reserva.hora_fin }}</p>
    <p><i class="fa fa-users"></i> <strong>Invitados: </strong> {{ reserva.adultos }} adultos, {{ reserva.ninos }} niños</p>
    <p><i class="fa fa-money-bill-wave"></i> <strong>Subtotal: </strong> S/. {{ reserva.subtotal }}</p>
    <p><i class="fa fa-wallet"></i> <strong>Costo Total: </strong> S/. {{ reserva.costo_total }}</p>
  </div>

  <div class="detalle-botones">
    <button class="btn-volver" (click)="volver()">
      <i class="fa fa-arrow-left"></i> Volver
    </button>
     <button *ngIf="reserva.estado === 'pendiente'" 
            class="btn-confirmar"
            (click)="confirmarReserva()">
      Confirmar Reserva
    </button>

    <button *ngIf="reserva.estado === 'pendiente' || reserva.estado === 'confirmado'"
            class="btn-cancelar"
            (click)="cancelarReserva1()">
      <i class="fa fa-times-circle"></i> Cancelar Reserva
    </button>
  </div>
</div>

<!-- Modal de Confirmación Exitosa -->
<dialog id="modalConfirmacion" class="modal">
  <div class="modal-content">
    <h2>✅ Reserva confirmada</h2>
    <p>La reserva se ha confirmado correctamente.</p>
    <button class="btn btn-primary" (click)="cerrarModal()">Aceptar</button>
  </div>
</dialog>

<dialog id="dialogCancel">
  <div>
    <p>¿Estás seguro de que deseas cancelar esta reserva?</p>
    <div class="buttons">
      <button (click)="confirmarCancelacion()" class="btn-confirmar">Sí</button>
      <button (click)="cerrarModal()" class="btn-cancelar1">No</button>
    </div>
  </div>
  <!-- Mensaje de éxito -->
    <div *ngIf="mensajeCancelacionMostrado" class="mensaje-exito">
      ✅ Cancelación exitosa
    </div>
</dialog>

